<!-- Sidebar (Job Type) Start -->
<div class="sidebar-widget">
    <div class="inner">
        <h6 class="title">Job Type</h6>
        <form action="#" class="mb-n1">
            <div class="custom-control custom-checkbox mb-1">
                <input type="checkbox" class="custom-control-input" id="jobtype0">
                <label class="custom-control-label" for="jobtype0">All type</label>
            </div>
            <div class="custom-control custom-checkbox mb-1">
                <input type="checkbox" class="custom-control-input" id="jobtype1">
                <label class="custom-control-label" for="jobtype1">Full Time</label>
            </div>
            <div class="custom-control custom-checkbox mb-1">
                <input type="checkbox" class="custom-control-input" id="jobtype2">
                <label class="custom-control-label" for="jobtype2">Part Time</label>
            </div>
            <div class="custom-control custom-checkbox mb-1">
                <input type="checkbox" class="custom-control-input" id="jobtype3">
                <label class="custom-control-label" for="jobtype3">Freelance</label>
            </div>
            <div class="custom-control custom-checkbox mb-1">
                <input type="checkbox" class="custom-control-input" id="jobtype4">
                <label class="custom-control-label" for="jobtype4">Internship</label>
            </div>
        </form>
    </div>
</div>
<!-- Sidebar (Experince) Start -->
<div class="sidebar-widget">
    <div class="inner">
        <h6 class="title">Experince</h6>
        <form action="#" class="mb-n1">
            <div class="custom-control custom-radio mb-1">
                <input type="radio" class="custom-control-input" name="jobExperince" id="jobExperince0">
                <label class="custom-control-label" for="jobExperince0">Any Experince</label>
            </div>
            <div class="custom-control custom-radio mb-1">
                <input type="radio" class="custom-control-input" name="jobExperince" id="jobExperince1">
                <label class="custom-control-label" for="jobExperince1">1 Year to 2 Year</label>
            </div>
            <div class="custom-control custom-radio mb-1">
                <input type="radio" class="custom-control-input" name="jobExperince" id="jobExperince2">
                <label class="custom-control-label" for="jobExperince2">2 Year to 3 Year</label>
            </div>
            <div class="custom-control custom-radio mb-1">
                <input type="radio" class="custom-control-input" name="jobExperince" id="jobExperince3">
                <label class="custom-control-label" for="jobExperince3">3 Year to 4 Year</label>
            </div>
        </form>
    </div>
</div>
<!-- Sidebar (Experince) End -->

<!-- Sidebar (Date Posted) Start -->
<div class="sidebar-widget">
    <div class="inner">
        <h6 class="title">Date Posted</h6>
        <form action="#" class="mb-n1">
            <div class="custom-control custom-radio mb-1">
                <input type="radio" class="custom-control-input" name="jobDatePosted" id="jobDatePosted0">
                <label class="custom-control-label" for="jobDatePosted0">Any Date</label>
            </div>
            <div class="custom-control custom-radio mb-1">
                <input type="radio" class="custom-control-input" name="jobDatePosted" id="jobDatePosted1">
                <label class="custom-control-label" for="jobDatePosted1">Last Hour</label>
            </div>
            <div class="custom-control custom-radio mb-1">
                <input type="radio" class="custom-control-input" name="jobDatePosted" id="jobDatePosted2">
                <label class="custom-control-label" for="jobDatePosted2">Last 24 Hours</label>
            </div>
            <div class="custom-control custom-radio mb-1">
                <input type="radio" class="custom-control-input" name="jobDatePosted" id="jobDatePosted3">
                <label class="custom-control-label" for="jobDatePosted3">Last 7 Days</label>
        </form>
    </div>
</div>