{% extends 'base.html' %}

{% block title %} Jobs {% endblock title %}

{% block content %}

    <!-- Recent Jobs Start -->
    <div class="container mt-5">
            <div class="row mb-n5">

                <div class="col-lg-8 col-12 mb-5 pr-lg-5">

                    <!-- Job List Toolbar Start -->
                    
                    <!-- Job List Toolbar End -->

                    <!-- Job List Wrap Start -->
                    <div class="job-list-wrap">
                        {% for job in jobs %}
                        <!-- Job List Start -->
                        <a href="{% url 'jobs:job_detail' job.pk %}" class="job-list">
                            <div class="company-logo col-auto">
                                <img src="{{job.company_logo.url}}" alt="Logo"
                                     style="
                                     width:70px;
                                     height:70px;
                                     border-radius:50%">
                            </div>
                            &nbsp;
                            <div class="salary-type col-auto order-sm-3">
                                <span class="salary-range">{{job.salary}}</span>
                                
                                {% for l in job.level.all %}
                                <span class="badge  bg-success">{{l.level}}</span>
                                    {% endfor %}
                            </div>
                            <div class="content col">
                                <h6 class="title">{{job.title}} <span class="badge badge-pill bg-info">{{job.status}}</span></h6> 
                                <ul class="meta">
                                    <li><strong class="text-primary">{{job.company_name}}</strong></li>
                                    <li><i class="fa fa-map-marker-alt"></i> {{job.location}}</li>
                                    <li><i class="far fa-calendar-alt"></i>{{job.date}}</li>

                                </ul>
                            </div>
                        </a>
                        <!-- Job List Start -->
                        {% endfor %}
                    </div>
                    <!-- Job List Wrap Start -->

                    <!-- Pagination Start -->

                    <br>
                   <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                          <li class="page-item">
                             {% if jobs.has_previous %}
                                <a class="page-link" href="?page={{ jobs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% endif %}
                        </li>
                          {% for page in jobs.paginator.page_range %}
                                <li class="page-item {% if page == jobs.number %}active{% endif %}">
                                    <a class="page-link" href="?page={{page}}">{{page}}</a>
                                </li>
                          {% endfor %}
                        <li class="page-item">
                             {% if jobs.has_next %}
                                <a class="page-link" href="?page={{ jobs.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% endif %}
                        </li>
                      </ul>
                    </nav>

                    <!-- Pagination End -->
                </div>

                <!-- Job Sidebar Wrap Start -->
                <div class="col-lg-4 col-12 mb-5">
                    <div class="sidebar-wrap">
                        <!-- Sidebar (Search) Start -->
                        <div class="sidebar-widget">
                            <div class="inner">
                                <h6 class="title">Search Keywords</h6>
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="text" name='search_job' placeholder="e.g. junior">
                                    <input type="submit" value="search" class='btn btn-primary btn-sm'>
                                </form>
                            </div>
                        </div>
                       

                        <!-- Sidebar (Job Type) Start -->
                        <div class="sidebar-widget">
                            <div class="inner">
                                <h6 class="title">Job Type</h6>
                                <form action="#" class="mb-n1">
                                    <div class="custom-control custom-checkbox mb-1">
                                        <input type="checkbox" class="custom-control-input" id="jobtype0">
                                        <label class="custom-control-label" for="jobtype0">All type</label>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-1">
                                        <input type="checkbox" class="custom-control-input" id="jobtype1">
                                        <label class="custom-control-label" for="jobtype1">Full Time</label>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-1">
                                        <input type="checkbox" class="custom-control-input" id="jobtype2">
                                        <label class="custom-control-label" for="jobtype2">Part Time</label>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-1">
                                        <input type="checkbox" class="custom-control-input" id="jobtype3">
                                        <label class="custom-control-label" for="jobtype3">Freelance</label>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-1">
                                        <input type="checkbox" class="custom-control-input" id="jobtype4">
                                        <label class="custom-control-label" for="jobtype4">Internship</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Sidebar (Experince) Start -->
                        <div class="sidebar-widget">
                            <div class="inner">
                                <h6 class="title">Experince</h6>
                                <form action="#" class="mb-n1">
                                    <div class="custom-control custom-radio mb-1">
                                        <input type="radio" class="custom-control-input" name="jobExperince" id="jobExperince0">
                                        <label class="custom-control-label" for="jobExperince0">Any Experince</label>
                                    </div>
                                    <div class="custom-control custom-radio mb-1">
                                        <input type="radio" class="custom-control-input" name="jobExperince" id="jobExperince1">
                                        <label class="custom-control-label" for="jobExperince1">1 Year to 2 Year</label>
                                    </div>
                                    <div class="custom-control custom-radio mb-1">
                                        <input type="radio" class="custom-control-input" name="jobExperince" id="jobExperince2">
                                        <label class="custom-control-label" for="jobExperince2">2 Year to 3 Year</label>
                                    </div>
                                    <div class="custom-control custom-radio mb-1">
                                        <input type="radio" class="custom-control-input" name="jobExperince" id="jobExperince3">
                                        <label class="custom-control-label" for="jobExperince3">3 Year to 4 Year</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Sidebar (Experince) End -->

                        <!-- Sidebar (Date Posted) Start -->
                        <div class="sidebar-widget">
                            <div class="inner">
                                <h6 class="title">Date Posted</h6>
                                <form action="#" class="mb-n1">
                                    <div class="custom-control custom-radio mb-1">
                                        <input type="radio" class="custom-control-input" name="jobDatePosted" id="jobDatePosted0">
                                        <label class="custom-control-label" for="jobDatePosted0">Any Date</label>
                                    </div>
                                    <div class="custom-control custom-radio mb-1">
                                        <input type="radio" class="custom-control-input" name="jobDatePosted" id="jobDatePosted1">
                                        <label class="custom-control-label" for="jobDatePosted1">Last Hour</label>
                                    </div>
                                    <div class="custom-control custom-radio mb-1">
                                        <input type="radio" class="custom-control-input" name="jobDatePosted" id="jobDatePosted2">
                                        <label class="custom-control-label" for="jobDatePosted2">Last 24 Hours</label>
                                    </div>
                                    <div class="custom-control custom-radio mb-1">
                                        <input type="radio" class="custom-control-input" name="jobDatePosted" id="jobDatePosted3">
                                        <label class="custom-control-label" for="jobDatePosted3">Last 7 Days</label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Job Sidebar Wrap End -->
            </div>
    </div>
    </div>
    <div class="clearfix"></div>
    <!-- Recent Jobs End -->

{% endblock content %}
