{% extends 'base.html' %}

{% block title %} Job detail {% endblock title %}

{% block content %}

    <!-- Recent Jobs Start -->
    <div class="section " style="padding-top: 10px">
        <div class="container">
            <div class="row mb-n5">

                <!-- Job List Details Start -->
                <div class="col-lg-8 col-12 mb-5 pr-lg-5">
                    <div class="job-list-details">
                        <div class="job-details-head row mx-0">
                            <div class="company-logo col-auto">
                                <img src="{{job.company_logo.url}}" alt="Logo"
                                     style="
                                     width:70px;
                                     height:70px;
                                     border-radius:50%">
                            </div>
                            <div class="salary-type col-auto order-sm-3">
                                <span class="salary-range">{{job.salary}}</span>
                                  {% for l in job.level.all %}
                                <span class="badge  bg-success">{{l.level}}</span>
                                    {% endfor %}
                                
                            </div>
                            <div class="content col">
                                <h5 class="title">{{job.title}} <span
                                style='font-size: 0.8rem' class="badge bg-info">{{job.status}}</span></h5>

                                <ul class="meta">
                                    <li><strong class="text-primary">{{job.company_name}}</strong></li>
                                    <li><i class="fa fa-map-marker-alt"></i> {{job.location}}</li>
                                    <li><i class="far fa-calendar-alt"></i>{{job.date}}</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="job-details-body">
                            <h6 class="mb-3">Ish haqida</h6>
                            <p>{{job.description}}</p>
                            <h6 class="mb-3 mt-4">Talab etiladigan bilimlar</h6>
                            <p>{{job.experience}}</p>
                            <h6 class="mb-3 mt-4">Aloqa</h6>
                            <p>{% if job.phone_number %}
                                            <p><i class="fas fa-phone-alt"></i> {{job.phone_number}}</p>
                                        
                                        {% endif %}
                                        {% if job.email %}
                                            <p><i class="fas fa-at"></i> {{job.email}}</p>
                                        {% endif %}
                                        {% if job.telegram_profile %}
                                        <a href="https://t.me/{{job.telegram_profile}}"><i class="fab fa-telegram"></i> {{job.telegram_profile}}</a>
                                       {% endif%}</p>
                        </div>
                    </div>
                </div>
                <!-- Job List Details End -->

                <!-- Job Sidebar Wrap Start -->
                <div class="col-lg-4 col-12 mb-5">
                    <div class="sidebar-wrap">
                        <!-- Sidebar (Apply Buttons) Start -->
                        <div class="sidebar-widget">

                            <div class="inner">
                                Aloqa <i class="fas fa-id-card-alt"></i>
                                <div class="row m-n2">

                                    <div class="col-xl-auto col-lg-12 col-sm-auto col-12 p-2">

                                       {% if job.phone_number %}
                                            <p><i class="fas fa-phone-alt"></i> {{job.phone_number}}</p>
                                        
                                        {% endif %}
                                        {% if job.email %}
                                            <p><i class="fas fa-at"></i> {{job.email}}</p>
                                        {% endif %}
                                        {% if job.telegram_profile %}
                                        <a href="https://t.me/{{job.telegram_profile}}"><i class="fab fa-telegram"></i> {{job.telegram_profile}}</a>
                                       {% endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sidebar (Apply Buttons) End -->

                        <!-- Sidebar (Job Overview) Start -->
                        <div class="sidebar-widget">
                            <div class="inner">
                                <h6 class="title">Ish haqida</h6>
                                <ul class="job-overview list-unstyled">
                                    <li><strong>E'lon berilgan sana:</strong> {{job.date}}</li>
                                    
                                    <li><strong>Ish vaqti:</strong> {{job.job_time}}</li>
                                    <li><strong>Tajriba:</strong> {{job.experience_time}} yil</li>
                                    <li><strong>Ish manzili:</strong> {{job.location}}</li>
                                    <li><strong>Maosh:</strong> {{job.salary}}</li>
                                    <li><strong>Oxirgi muddat:</strong> {{job.dedline}}</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar (Job Overview) End -->

   
                        <!-- Sidebar (Job Location) End -->
                    </div>
                </div>
                <!-- Job Sidebar Wrap End -->

            </div>
            <a class="btn btn-outline-primary" href="{% url 'jobs:jobs' %}" role="button"><i class="fas fa-arrow-left"></i> Orqaga</a>
        </div>
    </div>
    <!-- Recent Jobs End -->
    <div class="clearfix"></div>

{% endblock content %}