{% extends 'base.html' %}

{% block title %} Jobs {% endblock title %}

{% block content %}

    <!-- Recent Jobs Start -->
    <div class="container card-mob mt-5">
            <div class="row mb-n5">

                <div class="col-lg-8 col-12 mb-5 pr-lg-5">
                    <div class="job-list-wrap">
                        {% for job in jobs %}
                        <!-- Job List Start -->
                        <a href="{% url 'jobs:job_detail' job.pk %}" class="job-list">
                            <div class="company-logo col-auto">
                                <img src="{{job.company_logo.url}}" alt="Logo"
                                     style="
                                     width:70px;
                                     height:70px;
                                     border-radius:50%">
                            </div>
                            &nbsp;
                            <div class="salary-type col-auto order-sm-3">
                                <span class="salary-range">{{job.salary}}</span>
                                
                                {% for l in job.level.all %}
                                <span class="badge  bg-success">{{l.level}}</span>
                                    {% endfor %}
                            </div>
                            <div class="content col">
                                <h6 class="title">{{job.title}} {% if job.status != None %}<span class="badge badge-pill bg-info">{{job.status}}</span>{% endif %}</h6>
                                <ul class="meta">
                                    <li><strong class="text-primary">{{job.company_name}}</strong></li>
                                    <li><i class="fa fa-map-marker-alt"></i> {{job.location}}</li>
                                    <li><i class="far fa-calendar-alt"></i>{{job.date}}</li>

                                </ul>
                            </div>
                        </a>
                        <!-- Job List Start -->
                        {% endfor %}
                    </div>
                    <!-- Job List Wrap Start -->

                    <!-- Pagination Start -->

                    <br>
                   <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                          <li class="page-item">
                             {% if jobs.has_previous %}
                                <a class="page-link" href="?page={{ jobs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% endif %}
                        </li>
                          {% for page in jobs.paginator.page_range %}
                                <li class="page-item {% if page == jobs.number %}active{% endif %}">
                                    <a class="page-link" href="?page={{page}}">{{page}}</a>
                                </li>
                          {% endfor %}
                        <li class="page-item">
                             {% if jobs.has_next %}
                                <a class="page-link" href="?page={{ jobs.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% endif %}
                        </li>
                      </ul>
                    </nav>

                    <!-- Pagination End -->
                </div>

                <!-- Job Sidebar Wrap Start -->
                <div class="col-sm-8 col-md-6 col-lg-4 col-10 mb-5">
                    <div class="sidebar-wrap">
                        <!-- Sidebar (Search) Start -->
                        <div class="sidebar-widget">
                            <div class="inner">
                                <h6 class="title">Vakansiya qidirish</h6>
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="text" name='search_job' placeholder="e.g. junior">
                                    <input type="submit" value="izlash" class='btn btn-primary btn-sm'>
                                </form>
                            </div>
                        </div>
                       

                    </div>
                </div>
                <!-- Job Sidebar Wrap End -->
            </div>
    </div>
    </div>
    <div class="clearfix"></div>
    <!-- Recent Jobs End -->

{% endblock content %}
