{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="card mx-auto card-detail">
        <div class="card-body">
            <h5 class="card-title">{{card.title}}</h5>
            <h6 class="card-subtitle mb-4">
            <p class="card-text">
                <small class="text-muted">
              <a class="text-decoration-none" href="#">
              <i class="fas fa-user"></i> admin | </a>
              <i class="fas fa-calendar-alt"></i> {{card.create_date}}
          </h6>
      <img src="{{ card.image.url }}" class="card-img-top" alt="rasm">
    <p class="card-text mt-3">{{card.text|safe}}</p>
    <div class="row">
        <div class="col-8">
          <p class="card-tags">
            <span class="fa fa-tags"></span>
                {% for i in card.tag.all %}
                <a href="{% url 'home:filter' i.name %}" class="text-muted"><span class="badge rounded-pill bg-light  text-muted">{{i.name}}</span></a>
                {%endfor%}
          </p>
        </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}