{% extends 'base.html' %}

{% block content %}

<div class="container card-mob mt-4">
  <h2>Tez-tez so'raladigan savollar</h2>
  <div class="accordion">
    {% for faq in faqs %}
    <div class="accordion-item">
      <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">{{forloop.counter}}. {{faq.question}}</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>{{faq.answer}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
    {% if request.user.is_superuser %}
    <a href="{% url 'home:add_faq' %}"><button type="button" class="btn btn-success mt-4">FAQs qo'shish</button></a>
    {% endif %}
</div>
<!-- #### FAQs-->
<script type="text/javascript">
  const items = document.querySelectorAll(".accordion button");
  function toggleAccordion() {
    const itemToggle = this.getAttribute('aria-expanded');
    for (i = 0; i < items.length; i++) {
      items[i].setAttribute('aria-expanded', 'false');
    }
    if (itemToggle == 'false') {
      this.setAttribute('aria-expanded', 'true');
      console.log('ok')
    }
  }
  items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>
{% endblock content %}