{% extends 'base.html' %}
{% load static %}

{% block title %} Python Academy {% endblock title %}

{% block content %}

<!-- section -->
<section class="container">
    <div class="row">
      <div class="col-8 mt-4 col-lg-6 col-md-12 col-sm-12 col-xl-8 col-12">
        <a href="{% url 'home:card_detail' card.pk %}" class="text-decoration-none">
        <h5 class="card-title mb-3">{{card.title}}</h5>
        <div class="card mb-3">
          <img src="{{card.image.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">{{card.text|safe}}</p>
            <div class="row">
              <div class="col-4"><p class="card-text"><small class="text-muted"><i class="fas fa-calendar-alt"></i> {{card.create_date}}</small></p></div>
            <div class="col-8">
              <p class="card-tags">
                <small class="text-muted">
                <span class="fa fa-tags"></span>
                    {% for i in card.tag.all %}
                    <a href="{% url 'home:filter' i.name %}" class="text-muted"><span class="badge rounded-pill bg-tags text-muted ms-1">{{i.name}}</span></a>
                    {%endfor%}
                </small>
                </p>
            </div>
            </div>
          </div>
        </div>
      </a>
      </div>
      </a>
      <div class="col-4 mt-5 col-lg-6 col-md-12 col-sm-12 col-xl-4 col-12">
        <div class="card" >

          <p class="card-tags" style="padding-left: 5px;padding-right: 10px;padding-top: 10px">
                 &nbsp;&nbsp;  Barcha taglar <br>
                 <small class="text-muted" style="">

                 <!-- <span class="fa fa-tags"></span> -->
                 {% for tag in tags %}
                 <div class='mb-2' style="float: left">
                  <a  href="{% url 'home:filter' tag.name %}" class="text-muted"><span class="badge badge-light text-muted" style="font-size: 1.1em;">{{tag.name}}</span></a>
                  &nbsp;
                 </div>

                 {%endfor%}
                 <br class="clearfix">
                 </small>

          </p>
        </div>
      </div>
    </div>
</section>

  <!-- card qismi -->


<div class="container">
<h2>Kurslar</h2>

<div class="home_rows">
  <div class="row row-cols-1 row-cols-sm-2 .col-lg- row-cols-md-3 mb-5">
    {% for course in courses %}
        <div class="col mb-4 col-md-6 col-sm-12 col-xl-4">
            <div class="card shadow">
              <div class="imgs-card">
                <img src="{{course.image.url}}" class="card-img-top" alt="...">
              </div>
             <div class="card-body">
               <h5><a  style="text-decoration:none" class="card-title">{{course.kurs_name}}</a></h5>
               <p class="card-text">{{course.kurs_info|truncatechars:70}}</p>
               <a href="{% url 'courses:course_detail' course.pk %}" class="btn btn-outline-primary mb-2">Boshlash</a>
               <p class="card-text">
                   <small class="text-muted">
                       <a class="text-decoration-none" href="#">
                       <i class="fas fa-user"></i> {{course.author}} |</a> {{course.count_of_videos}} ta Video |
                       <i class="far fa-clock"> {{course.hour_of_course}} soat {{course.minut_of_course}} min</i></small></p>
               <p class="card-text">
                   <small class="text-muted">
                       <i class="fas fa-calendar-alt"></i> {{course.date_of_kurs}} |
                       <i class="fas fa-eye"></i> {{course.number_of_view}} |
                       <i class="far fa-comment-dots"></i> {{course.count_of_comments}} </a></small></p>
               <p class="card-tags">
                 <small class="text-muted">
                 <span class="fa fa-tags"></span>
                 {% for tag in course.tag.all %}
                 <a href="{% url 'home:filter' tag.name %}" class="text-muted"><span class="badge rounded-pill bg-tags text-muted">{{tag.name}}</span></a>
                 {%endfor%}
                 </small>
                 </p>
             </div>
           </div>
        </div>
    {% endfor %}

</div>
  <a href="{% url 'courses:course' %}"><button type="button" class="btn btn-outline-primary homebtn_detail mb-4">Barcha kurslar <i class="fas fa-angle-double-right"></i></button></a>
  <hr>
</div>

<h2>Python dasturlash tili bo'yicha maqolalar</h2>

<div class="home_rows">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mb-5">
    {% for blog in blogs %}
    <div class="col mb-4 col-md-6 mt-4 col-sm-12 col-xl-4">
        <div class="card shadow">
         <div class="ribbon ribbon-top-right" ><span>Yangi</span></div>
         <div class="imgs-card">
          <img src="{{blog.image.url}}" class="card-img-top" alt="..." >
         </div>
         <div class="card-body">
           <h5><a  style="text-decoration:none" class="card-title">{{blog.title}}</a></h5>
           <p class="card-text">{{blog.text|truncatechars:10|safe}}</p>
           <a href="{% url 'blogs:blog_detail' blog.pk %}" class="btn btn-outline-primary mb-2">O'qish</a>
           <p class="card-text">
               <small class="text-muted">
                   <i class="fas fa-user"></i> {{blog.author}} |
                   <i class="fas fa-calendar-alt"></i> {{blog.create_date}} <br>
                   <i class="fas fa-eye"></i> {{ blog.count_of_view }} |
                   <i class="far fa-comment-dots"></i> {{ blog.count_of_comment }}
               </small>
           </p>
           <p class="card-tags">
             <small class="text-muted">
             <span class="fa fa-tags"></span>
             {% for tag in blog.tag.all %}
                 <a href="{% url 'home:filter' tag.name %}" class="text-muted"><span class="badge rounded-pill bg-tags text-muted">{{tag.name}}</span></a>
             {%endfor%}
             </small>
             </p>
         </div>
       </div>
     </div>
    {%endfor%}

</div>
  <a href="{% url 'blogs:blogs' %}"><button type="button" class="btn btn-outline-primary homebtn_detail mb-4">Barcha maqolalar <i class="fas fa-angle-double-right"></i></button></a>
  <hr>
</div>

<h2>Kitoblar</h2>

</div>

{% endblock content %}