.text-dark{
  width: 10%;
}
.cent{
  justify-content: center;
  width: 100%;
}

@media (min-width:1400px) {
    .message-detail{
        width: 65%;
        border:none;
    }
    .comment-send-icon {
      width: 30px;
      position: absolute;
      top: 12px;
      right: 1%;
      z-index: 1;
      cursor:pointer;
      display: flex;
      align-items: center;
    }
    .comment-send-icon-reply {
      width: 30px;
      position: absolute;
      top: 10px;
      right: 20%;
      z-index: 1;
      cursor:pointer;
      display: flex;
      align-items: center;
    }
    .quiz-detail {
      width: 45%;
    }
    .loginforma {
      width: 55%;
      margin-top: 16%;
      padding: 5px;
    }
    .container-qa {
      width: 70%;
    }
    .index-alltags {
      margin-top:19%;
    }
    .footer-social {
        width:40%;
        margin:auto;
    }
}

@media (min-width:1200px) and (max-width:1400px) {
    .index-alltags {
        margin-top:19%;
    }
    .footer-social {
        width:40%;
        margin:auto;
    }
    .message-detail{
        width: 65%;
        border:none;
    }
    .comment-send-icon {
      width: 30px;
      position: absolute;
      top: 12px;
      right: 1%;
      z-index: 1;
      cursor:pointer;
      display: flex;
      align-items: center;
    }
    .comment-send-icon-reply {
      width: 30px;
      position: absolute;
      top: 10px;
      right: 20%;
      z-index: 1;
      cursor:pointer;
      display: flex;
      align-items: center;
    }
    .quiz-detail {
      width: 50%;
    }
    .container-qa {
      width: 60%;
    }
    .loginforma {
      width: 30%;
      margin-top: 8%;
      padding: 5px;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .index-alltags {
        margin-top:24%;
    }
    .footer-social {
        width:50%;
        margin:auto;
    }
    .message-detail{
        width: 65%;
        border:none;
    }
    .comment-send-icon {
      width: 30px;
      position: absolute;
      top: 12px;
      right: 1%;
      z-index: 1;
      cursor:pointer;
      display: flex;
      align-items: center;
    }
    .comment-send-icon-reply {
      width: 30px;
      position: absolute;
      top: 10px;
      right: 20%;
      z-index: 1;
      cursor:pointer;
      display: flex;
      align-items: center;
    }
    .quiz-detail {
      width: 60%;
    }
    .loginforma {
      width: 35%;
      margin-top: 10%;
      padding: 5px;
    }
}

@media (min-width:768px) and (max-width:991px) {
  .mynav-menu {
    padding-left:5%;
    padding-bottom:5%;
  }
  .profile-menu {
    width: 220%!important;
  }
  .myprof-menu-logo {
    margin-left:-12%;
  }
  .mydrop-menu {
    width:40%;
  }
  .footer-social {
    width:60%;
    margin:auto;
  }
  .myprof-menu-logo {
    margin-left:-40%;
  }
  .login-item {
    width:22%;
  }
  .signup-item{login_required
    width:30%;
  }
  .message-detail{
    width: 70%;
    border:none;
  }
  .comment-send-icon {
    width: 30px;
    position: absolute;
    top: 12px;
    right: 1%;
    z-index: 1;
    cursor:pointer;
    display: flex;
    align-items: center;
  }
  .comment-send-icon-reply {
    width: 30px;
    position: absolute;
    top: 10px;
    right: 20%;
    z-index: 1;
    cursor:pointer;
    display: flex;
    align-items: center;
  }
  .quiz-detail {
    width: 65%;
  }
  .loginforma {
    width: 45%;
    margin-top: 12%;
    padding: 5px;
  }
  
}

@media (min-width:576px) and (max-width:768px){
  .loginforma {
    width: 50%;
    margin-top: 14%;
    padding: 5px;
  }
  .mynav-menu {
    padding-left:5%;
    padding-bottom:5%;
  }
  .profile-menu {
    width: 220%!important;
  }
  .myprof-menu-logo {
    margin-left:-12%;
  }
  .mydrop-menu {
    width:55%;
  }
  .myprof-menu-logo {
    margin-left:-40%;
  }
  .login-item {
    width:22%;
  }
  .signup-item{
    width:37%;
  }
  .message-detail{
    width: 80%;
    border:none;
  }
  .comment-send-icon {
    width: 30px;
    position: absolute;
    top: 12px;
    right: 1%;
    z-index: 1;
    cursor:pointer;
    display: flex;
    align-items: center;
  }
  .comment-send-icon-reply {
    width: 30px;
    position: absolute;
    top: 10px;
    right: 20%;
    z-index: 1;
    cursor:pointer;
    display: flex;
    align-items: center;
  }
}

@media(max-width:576px){
    .mynav-menu {
        padding-left:5%;
        padding-bottom:5%;
    }
    .profile-menu {
        width: 200%!important;
    }
    .myprof-menu-logo {
        margin-left:-12%;
    }
    .mydrop-menu {
        width:60%;
    }
    .header {
        padding-left:7%;
    }
    .message-detail {
        width: 85%;
        border:none;
    }
    .card-mob {
        width:92%;
        margin:auto;
    }
    .login-item {
        width:22%;
    }
    .signup-item{
        width:41%;
    }
    .comment-send-icon {
      width: 30px;
      position: absolute;
      top: 12px;
      right: 1%;
      z-index: 1;
      cursor:pointer;
      display: flex;
      align-items: center;
    }
    .comment-send-icon-reply {
      width: 30px;
      position: absolute;
      top: 10px;
      right: 20%;
      z-index: 1;
      cursor:pointer;
      display: flex;
      align-items: center;
    }
    .un-mob {
      display: none;
    }
    .loginforma {
      width: 65%;
      margin-top: 21%;
      padding: 5px;
    }
}

/* profile menu */
@media (min-width:992px) and (max-width:1020px) {
    .profile-menu {
        font-size:0.77rem;
        padding:0;
    }
}
@media (min-width:1021px) and (max-width:1040px) {
    .profile-menu {
        font-size:0.85rem;
        padding:0;
    }
}
@media (min-width:1041px) and (max-width:1100px) {
    .profile-menu {
        font-size:0.9rem;
        padding:0;
    }
}
@media (min-width:1200px) and (max-width:1220px) {
    .profile-menu {
        font-size:0.85rem;
        padding:0;
    }
}
@media (min-width:1220px) and (max-width:1270px) {
    .profile-menu {
        font-size:0.9rem;
        padding:0;
    }
}
/* profile menu end */

/* login signup */
@media(max-width:400px){
    .login-item {
        width:28%;
    }
    .signup-item{
        width:50%;
    }
}
@media(min-width:470px) and (max-width:520px){
    .login-item {
        width:22%;
    }
    .signup-item{
        width:38%;
    }
}
@media(min-width:520px) and (max-width:576px){
    .login-item {
        width:22%;
    }
    .signup-item{
        width:36%;
    }
}
@media(width:768px){
    .login-item {
        width:22%;
    }
    .signup-item{
        width:30%;
    }
}
/* end login signup */
