{% extends 'base.html' %}
{% load static %}

{% block title %} BUser write blog {% endblock title %}

{% block content %}
    <div class="container card-mob">
    {% if request.user.is_authenticated %}
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {{form.as_p}}
        <input value="Yuborish" type="submit" class="btn btn-success" name="blogwrite">
        <hr width="75">
        <p class="text-muted"> <i class="fas fa-info-circle"></i> Eslatma:Maqola yozib bo'lganingizdan keyin maqola adminga yuboriladi va tekshirilgandan so'ng saytga chiqariladi!</p>
        </form>
    {% else %}
        <p><i class="fas fa-info-circle"></i> Maqola yozish uchun hisobingizga kirishingiz kerak
        </p>
        <a class='btn btn-outline-primary' href="{% url 'account:login' %}">Kirish</a>
    {% endif %}
    </div>


<script type="text/javascript">
    function result_blog() {
  alert('Yozgan blogingiz adminga yuborildi tekshirilgandan so`ng saytga chiqariladi.Raxmat');
}
</script>

{% endblock content %}