{% extends 'base.html' %}
{% load filter_count %}
{% block title %} Blog {% endblock title %}

{% block content %}

<div class="container card-mob mt-3">        
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        {% for category in blogs %}
        {% if not category %}
        <p>category yo'q</p>
        {% else %} 
        <div class="col col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
            <div class="card hvr-grow-shadow shadow" onclick="location.href='{% url 'blogs:category_blog' category.pk %}';" style="cursor: pointer;">
             <div class="imgs-card">
                <img src="{{category.image.url}}" class="card-img-top" alt="...">
             </div>    
             <div class="card-body">
               <h5><a class="card-title text-decoration-none">{{category.category_name}}</a></h5>
               <p class="card-text">{{category.category_info}}</p>                              
               <a href="{% url 'blogs:category_blog' category.pk %}" class="btn btn-outline-primary mb-2">Kirish</a>
               <p class="card-tags">
                    <small>
                        <i class="fas fa-laptop-code"></i> {{ category.id|filter_count }} ta maqola
                    </small>
               </p>
              </div>
           </div>        
        </div> 
        
        {% endif %}
        {% endfor %}  
    </div>
</div>
{% endblock content %}