{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

	<!--Reset Password-->
	<div class="container p-5 pass-reset-form">
  	 	<h2 class="font-weight-bold mt-3">Yangi parol o'rnatish</h2>
		<hr>
		<p>Parolni esdan chiqardingizmi? Email manzilingizni kiriting va sizga yangi parol o'rnatish uchun emailingizga havola yuboriladi.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}
            <button class="btn btn-primary mt-2" type="submit">Emailni jo'natish</button>
        </form>
  	</div>
{% endblock content %}
