{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="padding-left: 100px;padding-right: 100px;width: 800px">
  <div class="content-section">
          <h2 class=""> <img style="vertical-align: middle;
                              width: 75px;
                              height: 75px;
                              border-radius: 50%;" 
             src="{{ current_odam.profile.image.url }}"> {{ current_odam.username }}</h2>
          <p class="text-muted">{{ current_odam.email }}</p>
      {% if request.user == current_odam and current_odam.is_authenticated %}
      <form method="POST" enctype="multipart/form-data" style="width: 400px">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4"><i class="fas fa-user-shield"></i> Shaxsiy malumotlar </legend>
              {{ u_form|crispy }}
               
              {{ p_form|crispy }}
          </fieldset>
          <br>
          <div class="form-group">
              <button class="btn btn-primary" type="submit">Saqlash</button>
          </div>
      </form>

      {% endif %}
    </div>
    <div class="list-group">
      <a href="" class="list-group-item list-group-item-action active" aria-current="true">
        Maqolalarim
      </a>
      {% if my_blogs %}
      {% for blog in my_blogs %}
      <a href="{% url 'blogs:blog_detail' blog.pk %}" class="list-group-item list-group-item-action">{{forloop.counter}}. {{blog.title}}</a>
      {% endfor %}
      {% else %}
        <p class="list-group-item list-group-item-action">Maqolalar mavjud emas</p>
      {% endif %}
    </div>
</div>
{% endblock content %}