{% extends 'base.html' %}

{% block content %}
<div class="container mt-5" style="width:70%">
    <h3 class="mb-1"><strong>{{problem.sequence_number}}. {{problem.name}}</strong></h3>
    <div class="extrainfo">
        <span class="badge bg-success">{{problem.difficulty}}</span>
    </div>
    <div class="clearfix"></div>
    <div class="content-task mt-3">
        {{problem.content|safe}}
    </div>
   
        <form method="POST">
                {% csrf_token %}
            <textarea name="code"></textarea>
            <input value='save' type="submit">
        </form>
 

</div>
{% endblock content %}