{% extends 'base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/code_python.css' %}">
{% endblock %}
   
{% block content %}

<div class="container mt-5" style="width:70%">
    <h3 class="mb-1"><strong>{{problem.sequence_number}}. {{problem.name}}</strong></h3>
    <div class="extrainfo">
        <span class="badge bg-success">{{problem.difficulty}}</span>
    </div>
    <div class="clearfix"></div>
    <div class="content-task mt-3">
        {{problem.content|safe}}
    </div>
   
   <hr width="50">

<div class="container">
	{% if request.user.is_authenticated %}
	<form method="POST" action="{% url 'problems:detail' problem.pk %}" novalidate>
		{% csrf_token %}
		<input type="hidden" name="id_problem" value="{{problem.pk}}">
		<label for='code' ><h6>Masalani yechimini <b>python3</b> dasturlash tilida jo'nating</h6></label>

		<div class=wrap><div class=border><textarea name="name_code"  id="code" placeholder="bu yerga masala yechimi yani kodingizni yozing"></textarea></div></div>

  <br>
		<input type="submit" value="yuborish" class="btn btn-primary">
	</form>
	<hr width="35">
		<p class="text-muted"> <i class="fas fa-info-circle"></i> Eslatma:Masalani yechimini yuborganingizdan keyin yechim adminga yuboriladi va tekshirilgandan so'ng saytda natijangizni ko'rishingiz mumkin!</p>
	{% else %}
	<p class="text-muted"> <i class="fas fa-info-circle"></i> Eslatma:Masalani yechimini yuborish uchun saytdan ro'yxatdan o'ting</p>
	{% endif %}
</div> 

<div class="container mt-3">

  {% if request.user.is_authenticated %}
    <table class="table table-hover" style="width: 800px">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Masala nomi</th>
          <th scope="col">Natija</th>
          <th scope="col">Til</th>
          <th scope="col">Vaqti</th>
          <th scope="col">Xatolik</th>
        </tr>
      </thead>
      <tbody>
      {% for result in all_result %}
        <tr>
          <td >{{forloop.counter}}</td>
          <td><a href="{% url 'problems:answer_detail' result.pk %}" class="text-primary">{{result.problem.name}}</td></a>
          <td>
            {% if result.is_correct %}
             <span class="badge bg-success">To'g'ri</span>
             
            {% elif result.is_waiting %}
              <span class="badge bg-primary">Kuting</span> 
            {% else %}
              <span class="badge bg-danger">Xato</span> 
            {% endif %}
          </td>
          <td>Python3</td>
          <td>{{result.send_answer_date}}</td>
          <td>{% if result.is_correct %}
                <b style="color: green">xato yo'q</b>
              {% else %}
              {% if result.answer_error_text != None %}
              <b style="color: red">{{result.answer_error_text}}</b>
              {% endif %}
              {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

      <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                          <li class="page-item">
                             {% if all_result.has_previous %}
                                <a class="page-link" href="?page={{ all_result.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% endif %}
                        </li>
                          {% for page in all_result.paginator.page_range %}
                                <li class="page-item {% if page == all_result.number %}active{% endif %}">
                                    <a class="page-link" href="?page={{page}}">{{page}}</a>
                                </li>
                          {% endfor %}
                        <li class="page-item">
                             {% if exercises.has_next %}
                                <a class="page-link" href="?page={{ all_result.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% endif %}
                        </li>
                      </ul>
                    </nav>
  {% endif %}
</div>

</div>

<script>
 var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        mode: {name: "python",
               version: 3,
               singleLineStringErrors: false},
        lineNumbers: true,
        indentUnit: 4,
        matchBrackets: true
    });


    
</script>
{% endblock content %}