{% extends "base.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {% trans "Progress Page" %} {% endblock %}
{% block description %} {% trans "Foydalanuvchi barcha natijalari" %} {% endblock %}

{% block content %}
<div class="container mt-3">
  {% if cat_scores %}
  <h1>{% trans "Test bo'limlaridagi natijalar" %}</h1>
  <table class="table table-bordered table-striped">
	<thead>
	  <tr>
		<th>{% trans "Bo'lim" %}</th>
		<th>{% trans "To'g'ri javoblar soni" %}</th>
		<th>{% trans "Bo'limda ishlangan savollar soni" %}</th>
		<th>{% trans "Natija" %}</th>
	  </tr>
	</thead>
	<tbody>
	  {% for cat, value in cat_scores.items %}
	  <tr>
		<td><a href="{% url 'category_quiz_filter' slug=cat %}">{{ cat }}</a></td>
		<td>{{ value.0 }}</td>
		<td>{{ value.1 }}</td>
		<td>{{ value.2 }}%</td>
	  </tr>
	  {% endfor %}
	</tbody>
  </table>
  {% endif %}

  {% if exams %}
  <hr class="mb-3">
  <h1>{% trans "Barcha ishlangan test natijalari" %}</h1>
  <p class="lead">
	{% trans "Quyidagi siz ishlagan test natijalar." %}
  </p>

  <table class="table table-bordered table-striped">

	<thead>
	  <tr>
		<th>{% trans "Test nomi" %}</th>
		<th>{% trans "To'g'ri javoblar soni" %}</th>
		<th>{% trans "Savollar soni" %}</th>
		<th>{% trans "Natija" %}</th>
	  </tr>
	</thead>

	<tbody>
	  {% for exam in exams %}
	  <tr>
		<td><a href="{% url 'quiz_question' pk=exam.quiz.id %}">{{ exam.quiz.title }}</a></td>
		<td>{{ exam.current_score }}</td>
		<td>{{ exam.get_max_score }}</td>
		<td>{{ exam.get_percent_correct }}%</td>
	  </tr>
	  {% endfor %}
	</tbody>
  </table>

  {% endif %}

</div>
{% endblock %}
