{% extends 'base.html' %}

{% block title %} Course Detail {% endblock title %}

{% block content %}

<div class="container mt-4">

    <div class="card mx-auto course-detail-info" style="width: 70%;">
        <div class="card-body">
          <h1 class="card-title fs-3">{{lesson.video_title}}</h1>
        </div>
        <div class="video_content">
            <iframe width="560" height="315" src="{{lesson.video_url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="card mx-auto mt-3" style="width: 70%;">
      <div class="card-body">
        <h5 class="card-title">{{course_list.kurs_name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <p class="card-text"><small class="text-muted">10 Videos | <i class="far fa-clock"> 1 soat 20 min</i></small></p>
        </h6>
        <p class="card-text">
          <ol class="list-group list-group-flush">
          {% for i in course_list.course_video.all %}
          <li class="list-group-item">
              <a href="{% url 'courses:lesson' pn=i.id %}" class="a text-decoration-none">
                  <i class="far fa-play-circle"></i> {{i.video_title}}
              </a>
          </li>
          {% endfor %}
          </ol>
        </p>
      </div>
    </div>

    <!-- Comment secton -->
    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
          <div class="col-md-8">
              <div class="headings d-flex justify-content-between align-items-center mb-3">
                  <h5>Izohlar</h5>                      
              </div>
              {% for i in course.comment.all %}
                  <div class="card p-3">


                       <div class="d-flex justify-content-between align-items-center">
                            <div class="user d-flex flex-row align-items-center"> <img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary"><a href="#" class="text-decoration-none"> {{i.author}} </a></small> <br> <small class="font-weight-bold">{{i.text}}</small></span> </div> <small>{{i.created_date}}
                       </small>
                       </div>
                         <div class="action d-flex justify-content-between mt-2 align-items-center">
                            <div class="reply px-4"> <small><a href="#">Reply</a></small> </div>
                            <div class="icons align-items-center"> <i class="fa fa-star text-warning"></i> <i class="fa fa-check-circle-o check-icon"></i> </div>
                             {% for j in i.reply_comment.all  %}
                                 <div class="d-flex justify-content-between align-items-center">
                                    <div class="user d-flex flex-row align-items-center"> <img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle mr-2"> <span><small class="font-weight-bold text-primary"><a href="#" class="text-decoration-none"> {{j.author}} </a></small> <br> <small class="font-weight-bold">{{j.text}}</small></span> </div> <small>{{i.reply_comment.created_date}}
                                   </small>
                                 </div>
                             {% endfor %}
                         </div>
                  </div>
              {% endfor %}
            <div class="form-floating mt-2">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
              <label for="floatingTextarea">Izoh qoldirish</label>
            </div>
              
          </div>
      </div>
  </div>
  <!-- end comment section -->
  <div class="mx-auto" style="width: 70%;">
    <a class="btn btn-outline-primary mt-4" href="{% url 'courses:course_list' course_list.id %}" role="button"><i class="fas fa-arrow-left"></i> Orqaga</a>
  </div>
</div>      

{% endblock content %}