{% extends "base.html" %}
{% load i18n%}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}
<div class="container" style="width:40%">
{% if previous.answers %}

  <p class="muted"><small>{% trans "The previous question" %}:</small></p>
  <p>{{ previous.previous_question }}</p>

  {% if previous.previous_outcome %}
	<div class="alert alert-success">
  {% else %}
	<div class="alert alert-warning">
  {% endif %}
  	  <p><small>
		{% trans "Your answer was" %} </small>
		<strong>
		  {{ previous.previous_outcome|yesno:"correct,incorrect" }}
		</strong>
	  </p>

	</div>

	{% include 'correct_answer.html' %}

	<p><strong>{% trans "Explanation" %}:</strong></p>
	<div class="well " style="background-color: #fcf8e3;">
	  <p>{{ previous.previous_question.explanation }}</p>
	</div>

	<hr>

{% endif %}

<br />

{% if question %}

{% if progress %}
<div style="float: right;">
    <strong> {{ progress.1 }} | {{ progress.0|add:1 }}{% trans "-savol" %} </strong>
<!--    <progress id="file" value="{{progresspercent}}" max="100"> {{progresspercent}}% </progress>-->
</div>
{% endif %}

<p>
<!--  <small class="muted">{% trans "" %}:</small>-->
  <svg width="20" height="20" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 497.47 497.47" style="enable-background:new 0 0 497.47 497.47;" xml:space="preserve">
                        <g>
                            <path style="fill:#00BBD3;" d="M104.589,154.626l140.539-66.351h-39.706l-60.082-51.2c-2.612-2.612-6.269-3.657-9.927-3.657H36.67
                                c-8.882,0-15.673,6.792-15.673,15.673v105.535C20.997,154.626,104.589,154.626,104.589,154.626z"/>
                            <path style="fill:#00BBD3;" d="M433.732,154.626h42.841v-50.678c0-8.882-6.792-15.673-15.673-15.673h-58.514L433.732,154.626z"/>
                        </g>
                        <path style="fill:#D4E1F4;" d="M383.054,40.732c-4.18-8.882-15.151-13.061-24.555-8.359L93.095,157.761h344.816L383.054,40.732z"/>
                        <path style="fill:#4DCFE0;" d="M493.291,156.716c-3.135-3.135-7.314-4.702-11.494-4.702h-5.224h-42.841H104.589H20.997h-5.224
                            c-4.18,0-8.359,1.567-11.494,4.702c-3.135,3.135-4.702,7.314-4.18,11.494l15.673,284.212c0.522,8.359,7.314,14.629,15.673,14.629
                            h434.678c8.359,0,15.151-6.269,15.673-14.629L497.47,168.21C497.47,164.03,495.903,159.85,493.291,156.716z"/>
                        <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                        </svg>
  <strong> <a href="{% url 'category_quiz_filter' slug=quiz.category %}">{{ quiz.category }}</a> / </strong>
  <strong> <a href="{% url 'quiz_question' pk=quiz.id %}">{{ quiz.title }}</a></strong>
</p>

<p class="lead">{{ question.content|safe }}</p>

{% if question.figure %}
    <img src="{{ question.figure.url }}" alt="{{ question.content }}" width="300" height="200"/>
{% endif %}

<form action="" method="POST" class="mt-3" >{% csrf_token %}
  <input type=hidden name="question_id" value="{{ question.id }}">

  <ul class="list-group">
	{% for answer in form.answers %}
      {% autoescape off %}
	  <li class="list-group-item">
          {{ answer|escape }}
	  </li>
      {% endautoescape %}
	{% endfor %}

  </ul>
  <input type="submit" value={% trans "Yuborish" %} class="btn btn-large btn-block btn-warning mt-3">
</form>

{% endif %}

<hr>
</div>
{% endblock %}
