{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock title %} </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/jobs.css' %}">
    <link rel="stylesheet" href="{% static 'css/team.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

<!--     ckeditor codesnippet-->
    <!-- highlight.js-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- highlight.js -->
<!--    <script>hljs.initHighlightingOnLoad();</script>-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<!--    jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <!-- HEADER QISMI -->
    <header class="header-color sticky-top">
        <div class="container" style="padding-top: 5px;">
            <nav class="navbar navbar-expand-lg navbar-light" style="font-size: 16px;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'home:homepage' %}" style="padding-top: 10px;">
                        <img src="{% static 'img/python-seeklogo.com.svg' %}" alt="" width="30" height="24" class="pylogo">
                    </a>
                    <a class="navbar-brand" href="{% url 'home:homepage' %}" id="colornav" style="padding-top: 10px;">Python Academy Uz</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-4 mb-lg-0">
                      <li class="nav-item" style="padding-top: 6px;">
                        <a class="nav-link active" aria-current="page" href="{% url 'courses:course' %}" id="colornav">Kurslar</a>
                      </li>
                    

                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#fff">
                           Maqolalar
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'blogs:blogs' %}" >Maqola</a></li>
                            
                            <li><a class="dropdown-item" href="{% url 'blogs:blog_write_user' %}" >Maqola yozish</a></li>
                        </ul>
                      </li>

                      <li class="nav-item" style="padding-top: 0;">
                        <a class="nav-link active" aria-current="page" href="{% url 'problems:all' %}" id="colornav">Masala</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#fff">
                           Test
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'quiz_index' %}" >Testlar</a></li>
                            <li><a class="dropdown-item" href="{% url 'quiz_progress' %}" >Test Natijalari</a></li>
                        </ul>
                      </li>
<!--                        Manabalar-->
<!--                      <li class="nav-item dropdown dropx">-->
<!--                        <a id="colornav" class="nav-link dropdown-toggle nav-item-err" href="javascript:void(0)" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                          Manbalar-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu boxX" aria-labelledby="navbarDropdown">-->
<!--                          <li><a class="dropdown-item" href="{% url 'books:book-list' %}" >Kitoblar</a></li>-->
<!--                          <li><a class="dropdown-item" href="#" >Dasturlar</a></li>-->
<!--                          <li><hr class="dropdown-divider"></li>-->
<!--                          <li><a class="dropdown-item" href="#" >Foydali havolalar</a></li>-->
<!--                        </ul>-->
<!--                      </li>-->
                      <li class="nav-item">
                        <a class="nav-link nav-item-err" href="{% url 'jobs:jobs' %}" id="colornav">Ishlar</a>
                      </li>
<!--                      <li class="nav-item">-->
<!--                        <a class="nav-link nav-item-err" href="#" id="colornav">Forum</a>-->
<!--                      </li>-->
                      <li class="nav-item">
                        <a class="nav-link nav-item-err" href="{% url 'home:team' %}" id="colornav">Team</a>
                      </li>
                    </ul>
                    <form class="d-flex" style="padding-top: 6px;">
                      <input class="form-control me-2" 
                     style="width: 170px" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form> &nbsp;&nbsp;&nbsp;
                    <ul class="navbar-nav">
		                {% if request.user.is_authenticated %}
                         <li class="nav-item dropdown dropx">
                        <a id="colornav" class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          
                        <img style="vertical-align: middle;
                              width: 40px;
                              height: 40px;
                              border-radius: 50%;"   src="{{request.user.profile.image.url}}">
                          {{request.user.username}}
                        </a>
                        <ul class="dropdown-menu boxX" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="{% url 'account:profile' %}" >Shaxsiy kabinet</a></li>
                          <li><a class="dropdown-item" href="{% url 'blogs:blog_own_user' %}" >Mening maqolalarim</a></li>
                          <li><a class="dropdown-item" href="{% url 'quiz_progress' %}" >Testlardagi natijalarim</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="{% url 'account:logout' %}" >Logout</a></li>
                        </ul>
                      </li>
                      {% else %}
                          <li class="nav-item" style="margin-top: 6px;">
                              <a class="nav-link btn btn-danger btn-sm"  id='colornav' href="{% url 'account:login' %}">Login</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link"  id='colornav' href="{% url 'account:register' %}">Register</a>
                          </li>
                      {% endif %}
            		    </ul>
                  </div>
                </div>
              </nav>
        </div>
    </header>

        <a style="display:block;font-size:16px;width:900px;margin-left: 200px;text-align:center;border-radius:8px;padding:5px;background:#389ce9;text-decoration:none;color:#fff;" href="https://t.me/PythonAcademy_Uz" target="_blank"><svg style="width:30px;height:20px;vertical-align:middle;margin:0px 5px;" viewBox="0 0 21 18"><g fill="none"><path fill="#ffffff" d="M0.554,7.092 L19.117,0.078 C19.737,-0.156 20.429,0.156 20.663,0.776 C20.745,0.994 20.763,1.23 20.713,1.457 L17.513,16.059 C17.351,16.799 16.62,17.268 15.88,17.105 C15.696,17.065 15.523,16.987 15.37,16.877 L8.997,12.271 C8.614,11.994 8.527,11.458 8.805,11.074 C8.835,11.033 8.869,10.994 8.905,10.958 L15.458,4.661 C15.594,4.53 15.598,4.313 15.467,4.176 C15.354,4.059 15.174,4.037 15.036,4.125 L6.104,9.795 C5.575,10.131 4.922,10.207 4.329,10.002 L0.577,8.704 C0.13,8.55 -0.107,8.061 0.047,7.614 C0.131,7.374 0.316,7.182 0.554,7.092 Z"></path></g></svg>Bizga Telegramda qo'shiling!</a>
    
    <!-- HEADER OXIRI -->

    {% block content %}
    {% endblock content%}

    <!-- Footer qismi -->
<hr style="margin-top: 100px;">
<footer class="bg-footer text-black text-center text-lg-start bg1-dark" >
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Footer Content</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
          voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->
  <div class="">
    <!-- Section: CTA -->
    <section class="p-0 mt-4">
      <p class="d-flex justify-content-center align-items-center">
        <span class="me-3">Register for free</span>
        <button type="button" class="btn btn-outline-success btn-rounded">
          Sign up!
        </button>
      </p>
    </section>
    <!-- Section: CTA -->
  </div>
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center align-items-center p-0 mt-3">
    <!-- Facebook -->
    <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fab fa-facebook-f" style="color:white"></i></a>

    <!-- Twitter -->
    <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark" ><i class="fab fa-twitter" style="color:white"></i></a>

    <!-- Telegram -->
    <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fab fa-telegram" style="color:white"></i></a>

    <!-- Instagram -->
    <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fab fa-instagram" style="color:white"></i></a>

    <!-- Google -->
    <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fab fa-google" style="color:white"></i></a>

    <!-- Linkedin -->
    <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fab fa-linkedin" style="color:white"></i></a>

    <!-- Github -->
    <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" daata-mdb-ripple-color="dark"><i class="fab fa-github" style="color:white"></i></a>
  </section>
  <!-- Section: Social media -->

  <!-- Copyright -->
  <div class="text-center p-3 bg1-dark">
    © 2021 All rights reserved:
    <a style="text-decoration: none; color: black;" href="pythonacademy">Python Academy</a>
  </div>
  <!-- Copyright -->
</footer>

</body>
<script src="{% static 'js/password.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
</html>