{% extends 'base.html' %}

{% block title %} pythonacademy courses {% endblock title %}

{% block content %}

<div class="container mt-3">        
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        {% for course in courses %}
        {% if not course %}
        <p>empty</p>
        {% else %} 
        <div class="col mb-4">
            <div class="card shadow">
             <img src="{{course.image.url}}" class="card-img-top" alt="...">
             <div class="card-body">
               <h5><a class="card-title text-decoration-none">{{course.course_name}}</a></h5>
               <p class="card-text">{{course.course_info}}</p>                              
               <a href="{% url 'courses:course_list' pk=course.pk %}" class="btn btn-outline-primary mb-2">Kirish</a>
               <p class="card-tags">
                    <small>
                        <i class="fas fa-laptop-code"></i> {{ course.course_count.all.count }} ta kurs
                    </small>
               </p>
              </div>
           </div>        
        </div> 
        
        {% endif %}
        {% endfor %}  
    </div>
</div>

{% endblock content %}